.select{
    display: flex;
    align-items: center;
    justify-content: space-around;
   padding: 10px;
}

.start_button{
   padding: 20px;
   display: inline-block;
}

@media (max-width: 480px) {
    .select{
        margin-top: -200px;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
}