.title{
    /* border: 2px solid red; */
    background-color: #1890ff;
    text-align: left;
    padding: 15px;
}

.question{
    /* border: 2px solid black; */
    display: block;
    text-align: left;
    margin: 0px;
}

.button_div{
    /* border: 2px solid green; */
    background-color: #1890ff;
    width: 500px;
    padding: 10px;
    display: inline-block;
    margin: 50px;
    cursor: pointer;
}

.button_div:hover{
    opacity: 0.8
}

.spin{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_button{
    /* border: 2px solid black; */
    display: flex;
    justify-content: right;
    padding-right: 50px;
}