.score_title {
  /* border: 2px solid purple; */
  font-family: "ZCOOL QingKe HuangYou", cursive;
  padding: 10px;
}

/* .score_button{
    border: 2px solid yellow;
} */

.restart_review {
  /* border: 2px solid gold; */
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  margin-left: 380px;
}

@media (max-width: 480px) {
  .restart_review {
    /* border: 2px solid gold; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 150px;
    padding: 20px;
    
  }
  /* .score_title {
    border: 2px solid purple;
  } */
}
